{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>
  {% block titulonavegador %}
      ReComienda  
  {% endblock %}
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">  

</head>

<body>
  <header>
     {% include 'navbar.html' %}
        
    </header>

 {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}
    
  <main>
 
    {% block contenido %}
    {% endblock %}

 </main>



 
  
  <!--FOOTER-->
  <hr>
    <footer class="page-footer teal">

    <div class="footer-copyright">
           <div class="container">
            Informatorio 2020 | Comision 7 | Grupo 1 | © 2020 Todos los derechos reservados
        
            <a class="right black" href="{% url 'index' %}">ReComienda</a>
            
    </div>
    </div>
    </footer>
    <!--FIN FOOTER-->

</body>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
  <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          M.AutoInit();
        });
  </script>

  
</html>
