{% extends 'base.html' %}
{% load static %}
{% block titlehead %}
    Perfil: {{ perfil.username }}
{% endblock %}

{% block contenido %}
<h1>  Perfil: {{ perfil.username }}</h1>

<div class="row">    
    <div class="col s4">
    {% if perfil.foto %}


        <p> <img class="responsive-img circle z-depth-5" src="{{ perfil.foto.url }}" alt="imagen de perfil"></p>
    </div>
   




<div class="col s8">

    
    <div class="row">
        <h4>MIS DATOS</h4>

        <div class="input-field col s8">
            <i class="material-icons prefix">person</i>
          <input value="{{perfil.username}}" id="email" type="text" disabled>
          
          <label class="active" for="email">Nombre de Usuario</label>
        </div>




        <div class="input-field col s8">
            <i class="material-icons prefix">account_circle</i>
          <input value="{{perfil.first_name}}" id="first_name2" type="text" disabled>
          
          <label class="active" for="first_name2">Nombre</label>
        </div>
      


      
        <div class="input-field col s8">
            <i class="material-icons prefix">account_circle</i>
          <input value="{{perfil.last_name}}" id="first_name2" type="text" disabled>
          
          <label class="active" for="first_name2">Apellido</label>
        </div>


        <div class="input-field col s8">
            <i class="material-icons prefix">email</i>
          <input value="{{perfil.email}}" id="email" type="text" disabled>
          
          <label class="active" for="email">Correo Electrónico</label>
        </div>


        <div class="input-field col s8">
            <i class="material-icons prefix">phone</i>
          <input value="{{perfil.telefono}}" id="telefono" type="text" disabled>
          
          <label class="active" for="telefono">Telefono</label>
        </div>

        



      
    </div>

     
        
    <div class="row">
    <a href="{% url 'editar_perfil' %}" class="waves-effect waves-light btn-small center"><i class="material-icons left">edit</i>EDITAR</a>
    <a href="{% url 'editar_perfil' %}" class="waves-effect waves-light btn-small center"><i class="material-icons left">art_track</i>Mis anuncios</a>
    <a href="#" class="waves-effect waves-light red btn center"><i class="material-icons">delete_forever</i></a>

</div>

</div>

</div>





<!--

<div align="center" style="background-color: #E0E6E8; opacity: 0.5; color: black" >
<strong>
<table style="width: 40px; text-align: center; font-size: 20px;">
<tr style="background-color: cornflowerblue"> <th colspan="4"> datos del perfil </th> </tr>
<tr> <th> Nombre: </th> <td></td><td></td><td>{{ perfil.first_name }} </td> </tr>
<tr> <th> Apellido: </th><td></td><td></td><td> {{ perfil.last_name }}</td> </tr>
<tr> <th> Email: </th><td></td><td></td><td>{{ perfil.email }}</td> </tr>
<tr> <th> Telefono: </th><td></td><td></td><td>{{ perfil.telefono }}</td> </tr>
</table>        
</strong>
</div>
    {% else %}
<div class="row">    
<h1>  Perfil: {{ perfil.username }}</h1>
<p> <img src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto" style="width: 400px; height: 400px; vertical-align: middle;"></p></div>
    <hr>
<strong>
<table style="width: 40px; text-align: center; font-size: 20px;background-color: rgb(0,0,255); opacity: 0.5;">
<tr> <th colspan="4"> datos del perfil </th> </tr>
<tr> <th> Nombre: </th> <td></td><td></td><td>{{ perfil.first_name }} </td> </tr>
<tr> <th> Apellido: </th><td></td><td></td><td> {{ perfil.last_name }}</td> </tr>
<tr> <th> Email: </th><td></td><td></td><td>{{ perfil.email }}</td> </tr>
<tr> <th> Telefono: </th><td></td><td></td><td>{{ perfil.telefono }}</td> </tr>
</table>        
</strong>
</div>
           
    {% endif %}  

    {% if request.user == perfil%} 
    <a href="{% url 'editar_perfil' %}" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>EDITAR</a>
    {% else %}
    <a href="{% url 'ver_anuncios' %}" class="waves-effect waves-light btn"><i class="material-icons left">directions</i>VER ANUNCIOS</a>
    {% endif %}
        -->
{% endblock %}