{% extends 'base.html' %}
{% load static %}
{% block titlehead %}
    Perfil: {{ perfil.username }}
{% endblock %}

{% block contenido %}
    Perfil: {{ perfil.username }}<br>
    {% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" alt="imagen de perfil">
    {% else %}
       <img src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto">
    {% endif %}  

    {% if request.user == perfil%}
        
        <a href="{% url 'editar_perfil' %}">Editar</a> <!--<button>Editar</button> -->
    {% else %}
       <a href="{% url 'ver_anuncios' %}"><button>ver anuncios</button></a> 
    {% endif %}
        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row">
            <h1>Referencias</h1>
           <h3> Nombre: {{ perfil.first_name }}</h3>
            <h3>Apellido: {{ perfil.last_name }}</h3>
            <h3>Email:{{ perfil.email }}</h3>
            {% if perfil.telefono%}
                <h3>Telefono{{ perfil.telefono }}</h3>
            {% endif%}

                  </div>
{% endblock %}