{% extends 'base.html' %}   
{% load static %}
{% block contenido %}
<div class="container">
<div class="row">
  <h2 class="center">ACERCA DE RECOMIENDA</h2>
    <div class="col s4">
      <img class="responsive-img" src="{% static 'img/paquete.jpg'%}" alt="Imagen de Presentacion">
    </div>

    <div class="col s8">
  <p>
    <strong> Estamos afrontando tiempos inusuales y por primera vez, circunstancias que nos colocan en una posición determinante hacia el futuro. <br>
      <br>
En el transcurso de estos meses, nos encontramos con varios obstáculos, entre ellos esta imposibilidad de trasladornos de un lugar a otro para ponernos en contacto con nuestros seres queridos, personas de interés o inclusive, regresar a nuestros hogares.
Ante lo anteriormente dicho, surge la idea de ReComienda, como una web hecha por y para el pueblo chaqueño, con la finalidad de facilitar a los integrantes del mismo,el acceso del contacto de otras personas habilitadas que estén brindando un servicio de transporte, sea este de personas (viaje) o de paquetería/mudanzas,etc. 
Y de esa manera, poder viajar o solicitar el envío de un paquete a un familiar en otro pueblo, sin recurrir a incumplimientos innecesarios de las normas impuestos últimamente.
</strong></p>

</div>
</div>
</div>




{% endblock %}

