
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="shortcut icon"  href="{% static 'img/favicon-32x32.png' %}" type="image/x-icon">
</head>
<body>
	<div class="container">
	<div class="front side">
		<div class="content">
			<h1>ACERCA  DE  RECOMIENDA</h1>
<p> Estamos afrontando tiempos inusuales y por primera vez, circunstancias que nos colocan en una posición determinante hacia el futuro. 
En el transcurso de estos meses, nos encontramos con varios obstáculos, entre ellos la imposibilidad de trasladarnos de un lugar a otro para ponernos en contacto con nuestros seres queridos, personas de interés o inclusive, regresar a nuestros hogares.
Ante lo anteriormente dicho, surge la idea de ReComienda, como una web hecha por y para el pueblo chaqueño, con la finalidad de facilitar a los integrantes del mismo, el acceso del contacto de otras personas habilitadas que estén brindando un servicio de transporte, sea este de personas (viaje) o de paquetería/mudanzas, etc. 
Y de esa manera, poder viajar o solicitar el envío de un paquete a un familiar en otro pueblo, sin recurrir a incumplimientos innecesarios de las normas impuestas últimamente.
</p>
		</div>
	</div>
	<div class="back side">
		<div class="content">
			<h1>NUESTRO  OBJETIVO</h1>
			<P> ReComienda apunta a:
				<ul align=left>
					<li>Acercar el contacto de personas habilitadas para circular, con potenciales clientes o personas que requieran de algún servicio que la primera este prestando.</li>
					<li>Que los integrantes del pueblo Chaqueño se encuentren más unidos.</li>
				</ul>
			</P>
		</div>
	</div>

</div>
<a href="{% url 'index' %}" class="white-mode">Ir a ReComienda</a>
</body>
</html>







