{% extends "base.html" %}
{% load static %}

{% block titulonavegador %}
  {% if operacion == 'CREAR' %}
        Nuevo Anuncio
    {% else %}
        Editar Anuncio
    {% endif %}
  {% endblock %}<br>



  {% block contenido %}
  <!-- <link href="{% static 'css/anuncio_nuevo.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> -->

  <div id="container">
  <h1>&bull; ReComienda &bull;</h1>
  <div class="underline">
  </div>
  <div class="icon_wrapper">
    <svg class="icon" viewBox="0 0 145.192 145.192">
      <path d="">
      <a href="#!" class="brand-logo" style="margin: 0;"> <img style="width: 80px; height: 80px; vertical-align: middle;display:block; margin:auto;" src="{% static 'img/rt.png' %}" alt="logo Recomienda">
    </svg>
  </div>
  <form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    
    <!--{{ form.as_p }}-->  
    

    <div class="name">
      
      {{ form.nombre }}
    </div>

    <div class="email">
      
      {{ form.E_mail }}
    </div> <br/>
  
    <div class="subject" style="color: #26A69A">
      
      {{ form.localidad_origen }}
    </div>

    <div class="subject" style="color: #26A69A">
     
      {{ form.localidad_destino }}
    </div>

    RECORRIDO
    {{ form.recorrido }}
    TITULO
    {{ form.titulo }}


    <div class="message">
      <label for="message">Descripcion</label>
      {{ form.descripcion }}
    </div>
<fieldset style="color: #26A69A">
  <legend>TRANSPORTE</legend>
  <p>Medio de Transporte:
    {{ form.transporte }}
  </p>
</fieldset>
    <div class="col s6" style="color: #26A69A">
      <label for="fecha_cad">Fecha de Caducidad: </label>
      <input type="date" id="fecha_cad" value="{{ form.fecha_caducidad }}">

    
    </div>

     <div class="telephone" style="color: #26A69A">

        TELEFONO
      {{form.telefono}}

      
  
    </div>
<div>
    <label>
      {{ form.permitir_comentarios }}
      <span>Permitir Comentarios</span>
      </label> 
    </div>


    {{ form.errors }}
    <div class="submit">
      <button type="submit" value="Crear Anuncio" id="form_button" >

  {% if operacion == 'CREAR' %}
                Crear
            {% else %}
                Guardar
            {% endif %}</button>
    </div>
  </form><!-- // End form -->
</div><!-- // End #container -->

{% endblock %} 