{% extends 'base.html' %}
{% load static %}
{% block titulonavegador %}
Anuncio : {{anuncio.titulo}}
{% endblock %}

{% block contenido %}

<div class="row">
<div class="container col 6">
 
      
    <h5>ANUNCIOS CONTRATISTAS</h5>
      {% include 'anuncio/cuadricula_contratista.html' with lista_anuncio=lista_contra %}
  </div>
</div>

<div class="row">
	<div class="container col 12" >
    <h5>ANUNCIOS TRANSORTISTAS</h5>  
      {% include 'anuncio/anuncio_cuadricula.html' with lista_anuncio=lista_trans %}
    </div>
</div>

{% endblock %}