{% extends 'base.html' %}
{% load static %}
{% block titulonavegador %}
Anuncio : {{anuncio.titulo}}
{% endblock %}

{% block contenido %}
<div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'img/rt.png' %}">
            </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ anuncio.titulo}}<i class="material-icons right">more_vert</i></span>
                <p>{{anuncio.tel}}</p>                
                {{ anuncio.usuario.username}}
                <p><a href="#"><p>{{anuncio.Email}}</p></a></p>
              </div>
                <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{anuncio.titulo}}<i class="material-icons right">close</i>
          <p>{{anuncio.descripcion}}</p><br>
          <p>Tel: {{anuncio.tel}}</p><br>
          <hr>
          <p>Localidad Origen: {{anuncio.localidad_origen}}</p>
          <p>Localidad Destino: {{anuncio.localidad_destino}}</p>
          <p style="text-align: right">{{anuncio.fecha_publicacion}}</p>
          <p style="text-align: right">{{anuncio.fecha_publicacion}}</p>
          <a href="{% url 'ver_anuncio' anuncio.id %}" title="vinculo a contacto" style="text-align: right"><p style="text-align: right">VER ANUNCIO</p></a>
          </div>
          </div>
        </div>    
  </div>

  <div class="comentario">
    <form method="POST" action="{% url 'comentar' anuncio.id %}">
      {% csrf_token %}
      {{ form_comentario.texto }}
      <label for="id_text">Comentario:</label>
  </div>
  <div class="row center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">Comentar<i class="material-icons right">send</i></button>
  </div>
                    
    </form>
  </div>
</div>
    <div class="comentario">
      <div class="row">
        <h1>Comentarios</h1>
      </div>
     <ul class="collection">
                    {% for comentario in anuncio.comentario_set.all %}
                      <li class="collection-item avatar">
                        {% if comentario.usuario.foto %}
                          <img src="{{ comentario.usuario.foto.url }}" alt="foto de perfil" class="circle">
                          {% else %}
                          <a href="{% url 'ver_perfil' request.user.id %}" class="brand-logo right"><img class="circle foto-perfil-esquina" src="{% static 'img/pordefecto.jpg' %}" alt="archivo por defecto"></a>
                        {% endif %}
                          <a href="{% url 'ver_perfil' comentario.usuario.id %}">
                          <span class="title">
                          {{comentario.usuario.username}}:</span>
                          </a>
                        
                        <p>{{comentario.texto}}
                        </p>
                        <p>{{comentario.fecha_creacion}}
                        </p>
                      </li>
                    {% endfor%}
                  </ul>      
      </div>
<hr>                   
<hr>
  <h5>OTROS ANUNCIOS</h5>
  {% include 'anuncio/anuncio_cuadricula.html' with lista_anuncio=lista_anuncio %}

{% endblock %}